  <!-- Header -->
  <div class="header">
    <h1>To-Do App!</h1>
    <a href="#">Add New To-Do</a>
  </div>

  <!-- Task Input -->
  <div class="task-input container mt-5">
<div class="d-flex mb-3">
        <input type="text" class="form-control me-2" placeholder="Add new task" [(ngModel)]="newTask" (keyup.enter)="addTask()">
        <button class="btn btn-primary" (click)="addTask()">Add Task</button>
    </div>
  </div>

  <!-- Main Content Placeholder -->
  <div class="text-center row">
    <ul class="list-group">
        @for(task of tasks; track task.id) {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                   <input
                       type="checkbox"
                       class="form-check-input me-2"
                       [checked]="task.completed"
                       (change)="markAsCompleted(task.id)"
                   >
                    <span [class.text-decoration-line-through]="task.completed">{{ task.name }}</span>
                </div>
                <button class="btn btn-danger btn-sm" (click)="$event.stopPropagation(); removeTask(task.id)">
                    Remove
                </button>
            </li>
        }@empty {
        <p>No tasks yet</p>
     }
     </ul>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

